<h1>Chat UI</h1>
<h2><b>Reason:</b> Database Class</h2>
<h2><b>Resources Used:</b> SQL and Java</h2>
<p><b>Description: </b>The Chat interface project took serveral month of planning before it could be completed. The first stages of the project focused on UML design.<br>
In this stage Tyler and his partner Kevin focused on designing a relational database complete with keys.  After the design phase Tyler and Kevin teamed up with two other<br>
students and bring the application to life. The team split off the tasks into four major components for the application, Tyler designed the Chat UI. In the chat UI it had a <br>
window where the user could read chats sent and chats they sent, these chats where stored in a database and were inserted and retrieved using SQL queries written in java ahead 
of time. The interface itself was designed in the JAVA gui but a program called "NetBeans" was used to make the process easier.</p>
