<h1>Maintenance Record Tracker</h1>
<h2><b>Reason: </b> Non-Private Project for Beistle</h2>
<h2><b>Resources Used:</b> Visual Basic, MYSQL, and SVN</h2>
<p><b>Description: </b>This project was worked on by the staff at Besitle including Tyler. The goal was to make a web application that could help handle the engineering staff while<br>
    they worked out on the factory floor. Tyler was personally responsible for adding a comment section to the website and removing listing from the website while it was actively <br>
    being worked on.  The senior developer Russ Weist also taught Tyler alot about stored SQL queries and how they were interacting with the project.
</p>
