<p>Positon: Full-Stack Intern</p>
<p><b>Dates:</b> August 2018 - August 2020</p>
<p><b>Bosses:</b> Russ Weist and Cindy Smith</p>
<p><b>Contact Info:</b></p>
<ul>
    <li>Cindy Smith: mcpmalachi93@yahoo.com</li>
    <li>Russ Weist: Contact Info Upon Request</li>
</ul>
<p>As a Full Stack Intern, While there Tyler:</p>
<ul>
    <li>Worked as a full-stack developer for four different websites all of which run on HTML, CSS, and Javascript; beistle.com, firesmartpromos.com, vintagebeistle.com, and partyexpress.com</li>
    <li>Documented changes on sites and other new processes so they can be replicated</li>
    <li>Updated websites and applications dependent on needs</li>
    <li>Worked multiple roles in order to meet company goals</li>
    <li>Collected and manage web crawler records to determine sketchy IPs and ban them</li>
    <li>Ran support for technical problems</li>
    <li>Wrote and ran queries in SQL</li>
    <li>Designed web pages on site to add in features and interactivity</li>
</ul>

