<header>
    <div class="container">
      <a routerLink="/" class="logo">{{ appTitle }}</a>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <div class="dropdown">
            <li><a routerLink="/work">Work and Volunteer</a></li>
            <div class="dropdown-content">
              <a routerLink="/work/beistle">Full-Stack Intern</a>
              <a routerLink="/work/scout">Boy Scouts</a>
              <a routerLink="/work/kingkettle">Kings Kettle</a>
            </div>
          </div>
          <div class="dropdown">
            <li><a routerLink="/project">Projects</a></li>
            <div class="dropdown-content">
              <a routerLink="/project/NEAT">AI Learning</a>
              <a routerLink="/project/design">Design Patterns Project</a>
              <a routerLink="/project/maintenance">Maintenance Tracker</a>
              <a routerLink="/project/dangerdungeon">Danger Dungeon</a>
              <a routerLink="/project/datasorter">Data Sorter</a>
              <a routerLink="/project/unixshell">Unix Shell</a>
              <a routerLink="/project/chatui">Chat Ui</a>
            </div>
          </div>
        </ul>
      </nav>
    </div>
  </header>
