<h1>NEAT in Minecraft</h1>
<h2><b>Reason: </b>Senior Project</h2>
<h2><b>Resources Used:</b> Java, Malmo Framework, Ubuntu Linux, and Git</h2>
<p><b>Description: </b>This project had Tyler researchy a brand new topic of Neuralevolution of Augementing Topologies. During this time he spent an entire semester to research neural<br>
    networks and the Malmo Framework as well. Tyler then came up with a hypothesis on how NEAT would react with different mutation rates. Tyler choose the Malmo framework and by extension <br>
    Minecraft for a few reasons:<br>
    It allowed for a 3d enviroment<br>
    It allowed for a camera input to read each pixel<br>
    It's dynamic enviorment allows for easy course design<br>
    In this enviorment he had the player, controlled by the AI. The AI had to complete a course and it was given a score based on course completeion. Each generation would learn from the <br>
    better scoring AI from the previous generation. In the end Tyler tested all the mutation rates against each other, then found which one did best. To complete Tyler wrote a paper on it and<br>
    submitted it to a local conference in 2021.
</p>

