<p>Boy Scouts of America</p>
<p><b>Date:</b> June 2009 - September 2015</p>
<p>Tyler spent years with the Boy Scouts, volunteering, going on expeditions, and taking care of other Scouts. During his time he learned new skills and how to take on new responsibilites</p>
<ul>
    <li>
        Communicated and collaborated with other leaders to organize monthly schedules and outings
    </li>
    <li>
        Designed, developed, and executed an Eagle Scout project to help the mentally disabled by refurbishing and staining their porch
    </li>
    <li>
        Achieved highest rank in Boy Scouts, the Eagle Scout
    </li>
    <li>
        Served as Senior Patrol Leader, which lead all other leaders and weekly Boy Scout meetings
    </li>
    <li>
        Completed multiple courses to gain merit badges, some taking weeks to earn
    </li>
</ul>