<h1>Pokemon Battle Simulator</h1>
<h2><b>Reason: </b> Design Patterns Class</h2>
<h2><b>Resources Used:</b> Java and Git</h2>
<p><b>Description: </b>The final project for the Design Patterns Class, this project used everything learnt in the class as well as all learnt within the past two semesters.<br>
    For this project Tyler had to work with four other team emebers to design a UML then collaberate to complete the project. The team coordinated weekly meetings to keep up with their process.<br>
    Tyler implemented the threading design pattern to reduce lag, the singleton design pattern to reduce errors, factory pattern to make multiple copies of similar characters in the game <br>
    and a decorator pattern to edit similar characters to act slightly differently. Using test-driven development they made sure minimal glitches appeared during developement.
</p>
