<h1>Danger Dungeon</h1>
<h2><b>Reason: </b> Video Game Design Class</h2>
<h2><b>Resources Used:</b> Java, Git, and Gradle Framework</h2>
<p><b>Description: </b>Danger Dungeon was a top-down action platformer where the player controlled a knight running through a dungeon, collecting treasure, and dodgeing enemies. <br>
The game used physics to make the walls static objects to dissallow the player to walk through them. The player was a dynamic object so it could not pass the static objects. <br>
The player also interacted with the treasure and enemy object, if their hitboxes collided the player score went up, if the player collided with an enemy the player was killed.<br>
This project was build using the Gradle framework which made programming the phyics for the game easier, since it handled the physics for me.</p>
