<h1>Data Algorithm Sorter</h1>
<h2><b>Reason: </b> Algorithm Class</h2>
<h2><b>Resources Used:</b> Java</h2>
<p><b>Description: </b>After a semester of studying algorithms Tyler had to provide some practical expereince with the algorithms by programming three sorting algorithms, then testing to<br>
see which ones performed faster. The algorithms tested were quicksort, mergesort, and heapsort using 10 tests each of 10,000 arrays of numbers. All arrays had randomly<br>
generated numbers, varying to different degrees.</p>